__pycache__
GO-SLAM
*.pth
*.pt
*.ckpt
*.so
*.pyc
keyframeidx.txt
SUMMARY
.vscode
*.code-workspace
*test.sh
build
log
evaluate_on*
depth_estimator
wandb
cull_replica_mesh
*.egg*
euler/
output/
logs/
zongru_modified.txt
